.main-row{
    height: 50vh;
}
.main-col{
    max-width: 500px;
    min-height: 100px;
}
.todo-done{
    text-decoration: line-through;
}
.col{
    color: rgb(1, 4, 4);
}
#allbt{
    margin-right: 20px;
}
#space{
    margin-left: 20px;
}